colorama
flake8
flake8-2020
flake8-bandit
flake8-black
flake8-bugbear
flake8-builtins
flake8-colors
flake8-comprehensions
flake8-eradicate
flake8-implicit-str-concat
flake8-import-order
flake8-pie
pep8-naming
